<?xml version="1.0" encoding="UTF-8"?>
<!--

-->
<Configuration monitorInterval="60">
    <Properties>
        <Property name="filename">/usr/local/importer/logs</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="LOGFILE" fileName="${filename}/importer.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.coincoop" level="error">
            <AppenderRef ref="LOGFILE" level="error" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="LOGFILE"/>
        </Root>
    </Loggers>
</Configuration>